@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  height: 100vh;
}

.todo-box {
  background-color: blue;
  border-radius: 4px;
  padding: 1.2rem;
  width: 400px;
  position: relative;
}

.sound {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 4px 8px;
}

.app-name {
  text-align: center;
  position: relative;
}

.app-name::after {
  content: "";
  height: 2px;
  width: 60%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.add-btn {
  margin-top: 1.2rem;
  padding: 4px 8px;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.list-box {
  background-color: blue;
  border-radius: 4px;
  padding: 1.2rem;
  width: 400px;
  height: 400px;
  overflow-y: scroll;
}

.form-box {
  display: none;
  height: 100%;
}

.task-name {
  width: 100%;
}

.remainder-box {
  display: none;
}

.form-btn {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.btn {
  padding: 4px 8px;
  border: none;
  width: 100%;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.list-item {
  background-color: #eee;
  padding: 4px 8px;
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.list-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: auto;
  min-width: 75%;
}

.list-check-box {
  margin: 6px;
}

.del-btn {
  padding: 4px 8px;
}

.edit-btn {
  padding: 4px 8px;
}

.list-title {
  word-wrap: break-word;
  font-size: 12px;
}

.list-rem {
  font-size: 8px;
  font-style: italic;
}

.item-checked-effect {
  opacity: 0.6;
}

.hide {
  display: none;
}

.toggle {
  display: block;
}
