* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  background-color: red;
  height: 800px;
  width: 800px;
  position: relative;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.ear {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
}

.ear-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.ear-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.eye {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.eye-1 {
  top: 15%;
  left: 10%;
}

.eye-2 {
  top: 15%;
  right: 10%;
}

.mouth {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.pupil {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
