h1 {
  font-size: 32px;
}

h1 {
  font-size: 16px;
}

.class h1 {
}

.box .left-side p {
  font-size: 16px;
  color: #70ad70b3;
}

.left-side > p {
  /* color: green; */
}

h1 {
}

.class {
}

[data-title="value"] {
}

:root {
  --variableName: 32px;
}

h1 {
  font-size: var(--variableName);
}

.class h1 {
}

#main-heading h1:hover {
}
